In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [9]:
!ls

DataFrame Introduction.ipynb
DataFrameIO.ipynb
Large_sampl2.csv
Large_sample.csv
Series Introduction.ipynb
TheRelationshipBetweenSeriesAndDataFrame.ipynb
Untitled.ipynb
df_io.csv
df_io.html
sample1.xls

In [11]:
df = pd.read_csv("Large_sample2.csv")

In [12]:
df.shape

(50000, 14)

# Head and Tail

In [13]:
df.head(5)
# don't print everything.

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Namibia,Household,Offline,M,8/31/2015,897751939,10/12/2015,3604,668.27,502.54,2408445.08,1811154.16,597290.92
1,Europe,Iceland,Baby Food,Online,H,11/20/2010,599480426,1/9/2011,8435,255.28,159.42,2153286.80,1344707.70,808579.10
2,Europe,Russia,Meat,Online,L,6/22/2017,538911855,6/25/2017,4848,421.89,364.69,2045322.72,1768017.12,277305.60
3,Europe,Moldova,Meat,Online,L,2/28/2012,459845054,3/20/2012,7225,421.89,364.69,3048155.25,2634885.25,413270.00
4,Europe,Malta,Cereal,Online,M,8/12/2010,626391351,9/13/2010,1975,205.70,117.11,406257.50,231292.25,174965.25

In [14]:
df.tail(5)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
49995,Central America and the Caribbean,Dominican Republic,Baby Food,Offline,C,2/12/2015,350891578,3/15/2015,5470,255.28,159.42,1396381.60,872027.40,524354.20
49996,Central America and the Caribbean,Cuba,Office Supplies,Online,M,3/28/2013,748260629,5/3/2013,5803,651.21,524.96,3778971.63,3046342.88,732628.75
49997,Asia,Vietnam,Personal Care,Offline,L,11/11/2016,322932231,12/18/2016,1678,81.73,56.67,137142.94,95092.26,42050.68
49998,Sub-Saharan Africa,Sierra Leone,Clothes,Online,M,8/28/2010,492142713,9/21/2010,4820,109.28,35.84,526729.60,172748.80,353980.80
49999,Sub-Saharan Africa,Eritrea,Vegetables,Offline,L,6/5/2014,943440902,6/30/2014,3983,154.06,90.93,613620.98,362174.19,251446.79

# Filter columns

In [16]:
df[["Country", "Region"]]

                      Country                             Region
0                     Namibia                 Sub-Saharan Africa
1                     Iceland                             Europe
2                      Russia                             Europe
3                    Moldova                              Europe
4                       Malta                             Europe
5                   Indonesia                               Asia
6                    Djibouti                 Sub-Saharan Africa
7                      Greece                             Europe
8                    Cameroon                 Sub-Saharan Africa
9                     Nigeria                 Sub-Saharan Africa
10                    Senegal                 Sub-Saharan Africa
11                Afghanistan       Middle East and North Africa
12                      India                               Asia
13                    Lebanon       Middle East and North Africa
14                     Turkey       Middle East and North Africa
15                       Iraq       Middle East and North Africa
16                     Rwanda                 Sub-Saharan Africa
17                    Ukraine                             Europe
18                    Finland                             Europe
19                South Sudan                 Sub-Saharan Africa
20       Antigua and Barbuda   Central America and the Caribbean
21                     Kuwait       Middle East and North Africa
22             United Kingdom                             Europe
23     Saint Kitts and Nevis   Central America and the Caribbean
24       Antigua and Barbuda   Central America and the Caribbean
25                Saint Lucia  Central America and the Caribbean
26                     Kuwait       Middle East and North Africa
27                South Sudan                 Sub-Saharan Africa
28                   Tunisia        Middle East and North Africa
29                      Yemen       Middle East and North Africa
...                       ...                                ...
49970                 Somalia       Middle East and North Africa
49971                 Croatia                             Europe
49972                   Haiti  Central America and the Caribbean
49973                  Norway                             Europe
49974             South Korea                               Asia
49975               Indonesia                               Asia
49976             South Sudan                 Sub-Saharan Africa
49977                  Serbia                             Europe
49978                 Jamaica  Central America and the Caribbean
49979                  Russia                             Europe
49980                   Nepal                               Asia
49981                Kiribati              Australia and Oceania
49982                 Finland                             Europe
49983              Kazakhstan                               Asia
49984                   Benin                 Sub-Saharan Africa
49985                Pakistan       Middle East and North Africa
49986                Honduras  Central America and the Caribbean
49987             Afghanistan       Middle East and North Africa
49988              Bangladesh                               Asia
49989                Ethiopia                 Sub-Saharan Africa
49990             Seychelles                  Sub-Saharan Africa
49991                  Kuwait       Middle East and North Africa
49992                  Sweden                             Europe
49993               Australia              Australia and Oceania
49994              San Marino                             Europe
49995      Dominican Republic  Central America and the Caribbean
49996                    Cuba  Central America and the Caribbean
49997                 Vietnam                               Asia
49998            Sierra Leone                 Sub-Saharan Africa
49999                 Eritrea                 Sub-Saharan Africa

[50000 rows x 2 columns]

In [17]:
df.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

# Filter by Position

In [18]:
df.iloc[0]
# type(df.iloc[0]) / pandas.core.series.Series
# df.head(5)

Region            Sub-Saharan Africa
Country                      Namibia
Item Type                  Household
Sales Channel                Offline
Order Priority                     M
Order Date                 8/31/2015
Order ID                   897751939
Ship Date                 10/12/2015
Units Sold                      3604
Unit Price                    668.27
Unit Cost                     502.54
Total Revenue            2.40845e+06
Total Cost               1.81115e+06
Total Profit                  597291
Name: 0, dtype: object

In [22]:
df.head(3)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Namibia,Household,Offline,M,8/31/2015,897751939,10/12/2015,3604,668.27,502.54,2408445.08,1811154.16,597290.92
1,Europe,Iceland,Baby Food,Online,H,11/20/2010,599480426,1/9/2011,8435,255.28,159.42,2153286.80,1344707.70,808579.10
2,Europe,Russia,Meat,Online,L,6/22/2017,538911855,6/25/2017,4848,421.89,364.69,2045322.72,1768017.12,277305.60

In [23]:
type(df.iloc[0])

pandas.core.series.Series

In [26]:
df.iloc[:,0:3]
# df.iloc[row_a:row_b, Col_x:col_y]

,Region,Country,Item Type
0,Sub-Saharan Africa,Namibia,Household
1,Europe,Iceland,Baby Food
2,Europe,Russia,Meat
3,Europe,Moldova,Meat
4,Europe,Malta,Cereal
5,Asia,Indonesia,Meat
6,Sub-Saharan Africa,Djibouti,Household
7,Europe,Greece,Household
8,Sub-Saharan Africa,Cameroon,Cosmetics
9,Sub-Saharan Africa,Nigeria,Cosmetics
10,Sub-Saharan Africa,Senegal,Fruits
11,Middle East and North Africa,Afghanistan,Cosmetics
12,Asia,India,Vegetables
13,Middle East and North Africa,Lebanon,Vegetables
14,Middle East and North Africa,Turkey,Office Supplies
15,Middle East and North Africa,Iraq,Cosmetics
16,Sub-Saharan Africa,Rwanda,Personal Care
17,Europe,Ukraine,Baby Food
18,Europe,Finland,Office Supplies
19,Sub-Saharan Africa,South Sudan,Beverages
20,Central America and the Caribbean,Antigua and Barbuda,Fruits
21,Middle East and North Africa,Kuwait,Personal Care
22,Europe,United Kingdom,Office Supplies
23,Central America and the Caribbean,Saint Kitts and Nevis,Personal Care
24,Central America and the Caribbean,Antigua and Barbuda,Personal Care
25,Central America and the Caribbean,Saint Lucia,Cosmetics
26,Middle East and North Africa,Kuwait,Personal Care
27,Sub-Saharan Africa,South Sudan,Office Supplies
28,Middle East and North Africa,Tunisia,Snacks
29,Middle East and North Africa,Yemen,Cereal
...,...,...,...
49970,Middle East and North Africa,Somalia,Beverages
49971,Europe,Croatia,Meat
49972,Central America and the Caribbean,Haiti,Fruits
49973,Europe,Norway,Household
49974,Asia,South Korea,Snacks
49975,Asia,Indonesia,Cereal
49976,Sub-Saharan Africa,South Sudan,Office Supplies
49977,Europe,Serbia,Baby Food
49978,Central America and the Caribbean,Jamaica,Household
49979,Europe,Russia,Meat
49980,Asia,Nepal,Cosmetics
49981,Australia and Oceania,Kiribati,Office Supplies
49982,Europe,Finland,Snacks
49983,Asia,Kazakhstan,Cosmetics
49984,Sub-Saharan Africa,Benin,Household
49985,Middle East and North Africa,Pakistan,Baby Food
49986,Central America and the Caribbean,Honduras,Vegetables
49987,Middle East and North Africa,Afghanistan,Cereal
49988,Asia,Bangladesh,Fruits
49989,Sub-Saharan Africa,Ethiopia,Cereal
49990,Sub-Saharan Africa,Seychelles,Personal Care
49991,Middle East and North Africa,Kuwait,Household
49992,Europe,Sweden,Cereal
49993,Australia and Oceania,Australia,Beverages
49994,Europe,San Marino,Personal Care
49995,Central America and the Caribbean,Dominican Republic,Baby Food
49996,Central America and the Caribbean,Cuba,Office Supplies
49997,Asia,Vietnam,Personal Care
49998,Sub-Saharan Africa,Sierra Leone,Clothes
49999,Sub-Saharan Africa,Eritrea,Vegetables

# Filter by Label

In [32]:
df.loc[0:3, ["Country", "Item Type", "Region"]]

    Country  Item Type              Region
0   Namibia  Household  Sub-Saharan Africa
1   Iceland  Baby Food              Europe
2    Russia       Meat              Europe
3  Moldova        Meat              Europe