In [11]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [12]:
# http://pandas.pydata.org/pandas-docs/stable/io.html
df = pd.read_clipboard()
df

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary        Parquet Format    read_parquet    to_parquet
8       binary               Msgpack    read_msgpack    to_msgpack
9       binary                 Stata      read_stata      to_stata
10      binary                   SAS        read_sas
11      binary  Python Pickle Format     read_pickle     to_pickle
12         SQL                   SQL        read_sql        to_sql
13         SQL      Google Big Query        read_gbq        to_gbq

In [13]:
df.to_csv("df_io.csv", index = False)
!ls
# create a file "df_io.csv"

DataFrame Introduction.ipynb
DataFrameIO.ipynb
Series Introduction.ipynb
TheRelationshipBetweenSeriesAndDataFrame.ipynb
df_io.csv
sample1.xls

In [14]:
!more df_io.csv

Format Type,Data Description,Reader,Writer
text,CSV,read_csv,to_csv
text,JSON,read_json,to_json
text,HTML,read_html,to_html
text,Local clipboard,read_clipboard,to_clipboard
binary,MS Excel,read_excel,to_excel
binary,HDF5 Format,read_hdf,to_hdf
binary,Feather Format,read_feather,to_feather
binary,Parquet Format,read_parquet,to_parquet
binary,Msgpack,read_msgpack,to_msgpack
binary,Stata,read_stata,to_stata
binary,SAS,read_sas,
binary,Python Pickle Format,read_pickle,to_pickle
SQL,SQL,read_sql,to_sql
SQL,Google Big Query,read_gbq,to_gbq
>csv (END)

In [15]:
pd.read_csv("df_io.csv")

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary        Parquet Format    read_parquet    to_parquet
8       binary               Msgpack    read_msgpack    to_msgpack
9       binary                 Stata      read_stata      to_stata
10      binary                   SAS        read_sas
11      binary  Python Pickle Format     read_pickle     to_pickle
12         SQL                   SQL        read_sql        to_sql
13         SQL      Google Big Query        read_gbq        to_gbq

In [18]:
df_json = df.to_json()
df_json

'{"Format Type":{"0":"text","1":"text","2":"text","3":"text","4":"binary","5":"binary","6":"binary","7":"binary","8":"binary","9":"binary","10":"binary","11":"binary","12":"SQL","13":"SQL"},"Data Description":{"0":"CSV","1":"JSON","2":"HTML","3":"Local clipboard","4":"MS Excel","5":"HDF5 Format","6":"Feather Format","7":"Parquet Format","8":"Msgpack","9":"Stata","10":"SAS","11":"Python Pickle Format","12":"SQL","13":"Google Big Query"},"Reader":{"0":"read_csv","1":"read_json","2":"read_html","3":"read_clipboard","4":"read_excel","5":"read_hdf","6":"read_feather","7":"read_parquet","8":"read_msgpack","9":"read_stata","10":"read_sas","11":"read_pickle","12":"read_sql","13":"read_gbq"},"Writer":{"0":"to_csv","1":"to_json","2":"to_html","3":"to_clipboard","4":"to_excel","5":"to_hdf","6":"to_feather","7":"to_parquet","8":"to_msgpack","9":"to_stata","10":" ","11":"to_pickle","12":"to_sql","13":"to_gbq"}}'

In [21]:
pd.read_json(df_json)

        Data Description Format Type          Reader        Writer
0                    CSV        text        read_csv        to_csv
1                   JSON        text       read_json       to_json
10                   SAS      binary        read_sas
11  Python Pickle Format      binary     read_pickle     to_pickle
12                   SQL         SQL        read_sql        to_sql
13      Google Big Query         SQL        read_gbq        to_gbq
2                   HTML        text       read_html       to_html
3        Local clipboard        text  read_clipboard  to_clipboard
4               MS Excel      binary      read_excel      to_excel
5            HDF5 Format      binary        read_hdf        to_hdf
6         Feather Format      binary    read_feather    to_feather
7         Parquet Format      binary    read_parquet    to_parquet
8                Msgpack      binary    read_msgpack    to_msgpack
9                  Stata      binary      read_stata      to_stata

In [26]:
df.to_html("df_io.html")
df_html = pd.read_html("df_io.html")
df_html

[    Unnamed: 0 Format Type      Data Description          Reader        Writer
 0            0        text                   CSV        read_csv        to_csv
 1            1        text                  JSON       read_json       to_json
 2            2        text                  HTML       read_html       to_html
 3            3        text       Local clipboard  read_clipboard  to_clipboard
 4            4      binary              MS Excel      read_excel      to_excel
 5            5      binary           HDF5 Format        read_hdf        to_hdf
 6            6      binary        Feather Format    read_feather    to_feather
 7            7      binary        Parquet Format    read_parquet    to_parquet
 8            8      binary               Msgpack    read_msgpack    to_msgpack
 9            9      binary                 Stata      read_stata      to_stata
 10          10      binary                   SAS        read_sas           NaN
 11          11      binary  Python Pickle Format     read_pickle     to_pickle
 12          12         SQL                   SQL        read_sql        to_sql
 13          13         SQL      Google Big Query        read_gbq        to_gbq]

In [27]:
type(df_html)

list

In [28]:
len(df_html)

1

In [29]:
df_html[0]

    Unnamed: 0 Format Type      Data Description          Reader        Writer
0            0        text                   CSV        read_csv        to_csv
1            1        text                  JSON       read_json       to_json
2            2        text                  HTML       read_html       to_html
3            3        text       Local clipboard  read_clipboard  to_clipboard
4            4      binary              MS Excel      read_excel      to_excel
5            5      binary           HDF5 Format        read_hdf        to_hdf
6            6      binary        Feather Format    read_feather    to_feather
7            7      binary        Parquet Format    read_parquet    to_parquet
8            8      binary               Msgpack    read_msgpack    to_msgpack
9            9      binary                 Stata      read_stata      to_stata
10          10      binary                   SAS        read_sas           NaN
11          11      binary  Python Pickle Format     read_pickle     to_pickle
12          12         SQL                   SQL        read_sql        to_sql
13          13         SQL      Google Big Query        read_gbq        to_gbq